@media only screen and (max-width: 1280px) {
  .header {
    padding: 10px;
  }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
  .topMenu__outer {
    display: none;
  }
  .menuButton {
    display: block;
  }

  .header__right {
    flex-direction: row;
    align-items: center;
  }

  .header__rightTop {
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
  .logo1 img {
    max-width: 40px;
  }
  .logo1__info {
    padding-left: 0.5rem;
  }
  .logo1__infoSmall {
    font-size: 0.75rem;
  }
  .logo1__infoBig {
    font-size: 1.5rem;
  }
  .header__time {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .header__rightTop {
    flex-direction: column;
    align-items: flex-end;
  }
  .header__time {
    margin: 0 0 5px 0;
  }
}

@media only screen and (max-width: 600px) {
  .header__right {
    width: 100%;
    order: 3;
  }
  .header__rightTop {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .header__time {
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .headerBox i {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
