html,
body {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.site__header {
  position: relative;
}

.site__center {
  position: relative;
  z-index: 500;
}

.site__footer {
  position: relative;
  margin-top: auto;
}

.main1 {
  position: relative;
  height: 100vh;
}

.title1 {
  width: 100%;
  margin-bottom: 2rem;
}

.title2 {
  width: 100%;
  margin-bottom: 0.625rem;
}

.title1 h1 {
  display: inline-block;
  position: relative;
}
.title1 h1:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -4px;
  background: var(--bs-warning);
}

.title1 h2 {
  display: inline-block;
  position: relative;
}
.title1 h2:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -4px;
  background: var(--bs-warning);
}

.title2 h2 {
  display: inline-block;
  position: relative;
}

.line1 {
  width: 100%;
  height: 4px;
  background: var(--bs-warning);
}

.stop {
  overflow: hidden;
}
