mixin blogArea
  .blog__area
    .blog__outer.w1
      .blog
        .blog__itemArea
          a.blog__item(href='#')
            span.blog__itemImg
              img(src='assets/img/news/n07.jpg' alt='1')
            span.blog__itemInfo
              span.blog__itemDate 19.12.2019
              span.blog__itemTitle Правильное питание в любом возрасте
              span.blog__itemIntro
                | Как современные продукты влияют на наш организм, методы его чистки и профилактики на основе
                | натуральных масел
        .blog__itemArea
          a.blog__item(href='#')
            span.blog__itemImg
              img(src='assets/img/news/n09.jpg' alt='1')
            span.blog__itemInfo
              span.blog__itemDate 18.12.2019
              span.blog__itemTitle Полезные свойства черного тмина
              span.blog__itemIntro
                | Хотим представить наш продукт - черный тмин и его производные. Покажем и расскажем про его
                | полезные свойства.
        .blog__itemArea
          a.blog__item(href='#')
            span.blog__itemImg
              img(src='assets/img/news/n14.jpg' alt='1')
            span.blog__itemInfo
              span.blog__itemDate 21.12.2019
              span.blog__itemTitle Спорт в нашей жизни
              span.blog__itemIntro
                | правильное питание спортсмена. Основные элементы, которые получает каждый из натуральных
                | масел.
        .blog__itemArea
          a.blog__item(href='#')
            span.blog__itemImg
              img(src='assets/img/news/n03.jpg' alt='1')
            span.blog__itemInfo
              span.blog__itemDate 18.12.2019
              span.blog__itemTitle Полезные свойства черного тмина
              span.blog__itemIntro
                | Хотим представить наш продукт - черный тмин и его производные. Покажем и расскажем про его
                | полезные свойства.
        .blog__itemArea
          a.blog__item(href='#')
            span.blog__itemImg
              img(src='assets/img/news/n05.jpg' alt='1')
            span.blog__itemInfo
              span.blog__itemDate 19.12.2019
              span.blog__itemTitle Правильное питание в любом возрасте
              span.blog__itemIntro
                | Как современные продукты влияют на наш организм, методы его чистки и профилактики на основе
                | натуральных масел
        .blog__itemArea
          a.blog__item(href='#')
            span.blog__itemImg
              img(src='assets/img/news/n12.jpg' alt='1')
            span.blog__itemInfo
              span.blog__itemDate 21.12.2019
              span.blog__itemTitle Спорт в нашей жизни
              span.blog__itemIntro
                | правильное питание спортсмена. Основные элементы, которые получает каждый из натуральных
                | масел.
        .blog__itemArea
          a.blog__item(href='#')
            span.blog__itemImg
              img(src='assets/img/news/n07.jpg' alt='1')
            span.blog__itemInfo
              span.blog__itemDate 19.12.2019
              span.blog__itemTitle Правильное питание в любом возрасте
              span.blog__itemIntro
                | Как современные продукты влияют на наш организм, методы его чистки и профилактики на основе
                | натуральных масел
        .blog__itemArea
          a.blog__item(href='#')
            span.blog__itemImg
              img(src='assets/img/news/n09.jpg' alt='1')
            span.blog__itemInfo
              span.blog__itemDate 18.12.2019
              span.blog__itemTitle Полезные свойства черного тмина
              span.blog__itemIntro
                | Хотим представить наш продукт - черный тмин и его производные. Покажем и расскажем про его
                | полезные свойства.
        .blog__itemArea
          a.blog__item(href='#')
            span.blog__itemImg
              img(src='assets/img/news/n14.jpg' alt='1')
            span.blog__itemInfo
              span.blog__itemDate 21.12.2019
              span.blog__itemTitle Спорт в нашей жизни
              span.blog__itemIntro
                | правильное питание спортсмена. Основные элементы, которые получает каждый из натуральных
                | масел.
        .blog__itemArea
          a.blog__item(href='#')
            span.blog__itemImg
              img(src='assets/img/news/n03.jpg' alt='1')
            span.blog__itemInfo
              span.blog__itemDate 18.12.2019
              span.blog__itemTitle Полезные свойства черного тмина
              span.blog__itemIntro
                | Хотим представить наш продукт - черный тмин и его производные. Покажем и расскажем про его
                | полезные свойства.
        .blog__itemArea
          a.blog__item(href='#')
            span.blog__itemImg
              img(src='assets/img/news/n05.jpg' alt='1')
            span.blog__itemInfo
              span.blog__itemDate 19.12.2019
              span.blog__itemTitle Правильное питание в любом возрасте
              span.blog__itemIntro
                | Как современные продукты влияют на наш организм, методы его чистки и профилактики на основе
                | натуральных масел
        .blog__itemArea
          a.blog__item(href='#')
            span.blog__itemImg
              img(src='assets/img/news/n12.jpg' alt='1')
            span.blog__itemInfo
              span.blog__itemDate 21.12.2019
              span.blog__itemTitle Спорт в нашей жизни
              span.blog__itemIntro
                | правильное питание спортсмена. Основные элементы, которые получает каждый из натуральных
                | масел.
      .pagin
        ul.pagination
          li.control
            a(href='#') ◄
          li
            a(href='#') 1
          li
            a(href='#') 2
          li.active
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li.control
            a(href='#') ►
