mixin catalog
  .catalog__area
    .catalog__outer.w1
      .catalog__wrapper
        .catalog__nav
          ul.leftMenu
            li
              a(href="#") Керамическая плитка
            li
              a(href="#") Сухие смеси
            li
              a(href="#") Крепежная техника
            li
              a(href="#") Гипсокартон
            li
              a(href="#") Металлопрокат
        .catalog__content
          .catalog
            .catalog__itemOuter
              a.catalog__item(href="#")
                .catalog__itemImg
                  img(src="assets/img/mater/01.jpg", alt="")
                .catalog__itemTitle Керамическая плитка
            .catalog__itemOuter
              a.catalog__item(href="#")
                .catalog__itemImg
                  img(src="assets/img/mater/02.jpg", alt="")
                .catalog__itemTitle Сухие смеси
            .catalog__itemOuter
              a.catalog__item(href="#")
                .catalog__itemImg
                  img(src="assets/img/mater/03.jpg", alt="")
                .catalog__itemTitle Крепежная техника
            .catalog__itemOuter
              a.catalog__item(href="#")
                .catalog__itemImg
                  img(src="assets/img/mater/04.jpg", alt="")
                .catalog__itemTitle Гипсокартон
            .catalog__itemOuter
              a.catalog__item(href="#")
                .catalog__itemImg
                  img(src="assets/img/mater/05.jpg", alt="")
                .catalog__itemTitle Металлопрокат
            .catalog__itemOuter
              a.catalog__item(href="#")
                .catalog__itemImg
                  img(src="assets/img/mater/01.jpg", alt="")
                .catalog__itemTitle Керамическая плитка
            .catalog__itemOuter
              a.catalog__item(href="#")
                .catalog__itemImg
                  img(src="assets/img/mater/02.jpg", alt="")
                .catalog__itemTitle Сухие смеси
            .catalog__itemOuter
              a.catalog__item(href="#")
                .catalog__itemImg
                  img(src="assets/img/mater/03.jpg", alt="")
                .catalog__itemTitle Крепежная техника
            .catalog__itemOuter
              a.catalog__item(href="#")
                .catalog__itemImg
                  img(src="assets/img/mater/04.jpg", alt="")
                .catalog__itemTitle Гипсокартон
            .catalog__itemOuter
              a.catalog__item(href="#")
                .catalog__itemImg
                  img(src="assets/img/mater/05.jpg", alt="")
                .catalog__itemTitle Металлопрокат
          +content