mixin footer 
  .footer__area
    .footer__outer.w1
      footer.footer
        .f1
          .footer__tm ООО «РегионДорСтрой» 2020
          .footer__dev Разработка сайта: <a href="https://site-a.ru" target="_blank">веб-студия «Сайт-А»</a>
        .f2 *Информация на сайте не является публичной офертой
        .f3 
          a(href="#") Политика конфиденциальности и обработки персональных данных

  