mixin header
  .header__area
    .header__outer.w1
      header.header
        .logo1
          img(src="assets/img/logo.svg", alt="")
          .logo1__info
            .logo1__infoSmall cтроительная компания
            .logo1__infoBig РегионДорСтрой
        .header__right
          .header__rightTop
            .header__time Пн.-Пт. 10:00 - 18:00
            .headerBox
              i.icon-phone
              a(href="tel:+79242086011") +7 (924) 208-60-11
          .header__rightBottom
            nav.topMenu__outer
              ul.topMenu
                li
                  a(href="#") Виды деятельности
                li
                  a(href="#") Строительные материалы
                li
                  a(href="#") Информация
                li
                  a(href="#") Контакты
        .menuButton
          span
          span
          span
  