mixin serv
  .serv__area
    .serv__outer.w1
      .title1 
        h1 Наша деятельность:
      .serv
        .serv__itemOuter
          a.serv__item(href="#")
            .serv__itemImg
              img(src="assets/img/serv/01.jpg", alt="")
            .serv__info
              .serv__infoTitle Капитальное строительство
              .serv__infoDesc Короткий вступительный текст про этот вид деятельности нашей компании
        .serv__itemOuter
          a.serv__item(href="#")
            .serv__itemImg
              img(src="assets/img/serv/02.jpg", alt="")
            .serv__info
              .serv__infoTitle Дорожные работы
              .serv__infoDesc Короткий вступительный текст про этот вид деятельности нашей компании
        .serv__itemOuter
          a.serv__item(href="#")
            .serv__itemImg
              img(src="assets/img/serv/03.jpg", alt="")
            .serv__info
              .serv__infoTitle Прокладка и ремонт ж/д магистралей
              .serv__infoDesc Короткий вступительный текст про этот вид деятельности нашей компании


mixin about
  .about__area
    .about__outer
      .about
        .title1 
          h2 О нашей компании:
        .about__content
          .content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, suscipit.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur neque nisi, ad reprehenderit quo exercitationem?
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, illo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, illo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, illo.
    .about__bg(style="background-image: url(assets/img/bg2.jpg)")

