mixin adaptiveMenu
  .adaptiveMenu__area.aMenu_js
    .adaptiveMenu__outer
      .adaptiveMenu__close
        i.icon-close
      .adaptiveMenu__wrapper
        ul.adaptiveMenu
          li
            a(href="#") Главная
          li
            a(href="#") Виды деятельности
          li.active
            a(href="#") Строительные материалы
          li
            a(href="#") Информация
          li
            a(href="#") Контакты