- var pageTitle = 'Контакты'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __menu
include __header
include __mainPage
include __page
include __footer




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header
    +headerPaddingArea

  .site__center
    
    +titleLine
    +breadcrumbs
    .content__outer
      .content__area.w1
        +content_min
        .line1
    +contacts
    
  .site__footer
    +footer
  
  +adaptiveMenu
  +toUp

  +scripts
  