- var pageTitle = 'Главная страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __mainPage
include __footer




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    .main1
      +header
      +videoBg
      +mainBlock

  .site__center.go_adr1
    +serv
    +about
    +carousel
    +powerSide
    +contacts
    
  .site__footer
    +footer

  +scripts
  