- var pageTitle = 'Текстовая страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __menu
include __header
include __page
include __footer




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header
    +headerPaddingArea

  .site__center
    
    +titleLine
    +breadcrumbs
    +intro
    +content
    
  .site__footer
    +footer
  
  +adaptiveMenu
  +toUp

  +scripts
  